<div style="text-align:center; padding-top: 20%">
  <h1 class="ui centered header">
    Welcome in the Captain Arena !
  </h1>
  <p>
    Are you ready to kick some asses ?
  </p>
  <%= button_to("Ready ? I am !", characters_path, class: "ui primary button", method: "get") %>
</div>
