<h1>Editing Character</h1>

<%= render 'form', character: @character %>

<div class="ui divider"></div>
<div class="ui buttons">
  <%= link_to 'Show', @character, class: 'ui button' %>
  <%= link_to 'Back', characters_path, class: 'ui button' %>
</div>
