<h1>Editing Fight</h1>

<%= render 'form', fight: @fight %>

<div class="ui divider"></div>
<div class="ui buttons">
  <%= link_to 'Show', @fight, class: 'ui button' %>
  <%= link_to 'Back', fights_path, class: 'ui button' %>
</div>
