<div class="ui secondary pointing menu">
  <%= link_to 'CAPTAIN ARENA', root_path, class: (current_page?(root_path) ? 'active header item' : 'header item') %>
  <%= link_to 'Arena', arena_path, class: (current_page?(arena_path) ? 'active item' : 'item') %>
  <div class="right menu">
    <%= link_to 'About', 'https://github.com/captaincontrat/jobs', class: 'item' %>
  </div>
</div>
